body {
  background-color: white;
  font-family: Arial,sans-serif;
}

a {
  text-decoration: none;
  color: rgba(0,0,0,0.87);
  font-size: 13px;
}
a:hover {
  text-decoration: underline;
  opacity: 0.85;
}

/* Header */

#top-bar {
  text-align: right;
}

#dots {
  height: 30px;
  width: 30px;
  display: inline-block;
  background-image: url("../images/googlebits.png");
  background-size: 528px 68px;
  background-position: -132px -38px;
  vertical-align: middle;
  opacity: 0.55;
}

#dots:hover {
  opacity: 0.85;
}

#signin {
  display: inline-block;
  padding: 0 12px;
  border-radius: 2px;
  border: 1px solid rgb(67, 135, 253);
  background-color: rgb(67, 135, 253);
  color: rgb(255,255,255);
  font-weight: 700;
  line-height: 28px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 0px 0px;
}

#signin:hover {
  text-decoration: none;
  opacity: inherit;
  cursor: default;
}


/* Search form */
form {
  border: medium none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#central_section {
  text-align: center;
}


input[type="text"] {
  font: 16px;
  line-height: normal;
  line-height: 34px;
  height: 44px;
  max-width: 584px;
  min-width: 584px;
  vertical-align: top;
  background: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  padding: 0 16px;

}

input[type="text"]:hover {
  border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

input[type="submit"] {
height: 36px;
line-height: 27px;

  padding-top: 18px;
  border-radius: 2px;
  cursor: default;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #757575;

}

input[type="submit"]:hover {
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #222;
}


/* Footer */
