.dots {
  height: 30px;
  width: 30px;
  display: inline-block;
  background-image: url("../images/googlebits.png");
  background-size: 528px 68px;
  background-position: -132px -38px;
  vertical-align: middle;
}
